<mat-card class="delete-product">
    <div>
        <mat-icon class="help-icon">help_outline</mat-icon>
    </div>
    <mat-card-content>
        <h4>Are you sure you want to delete this product?</h4>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button color="basic" matTooltip="Cancel operation" mat-dialog-close>Cancel</button>
        <button mat-flat-button color="warn" matTooltip="Delete product" (click)="deleteProduct()"><mat-icon>delete</mat-icon>Delete</button>
    </mat-card-actions>
</mat-card>