@import '../../../sass/card-style';


.add-product-card {
    width: 500px;
}

.form {
    margin-top: 20px;
}

.form-field {
    width: 100%;
}

button {
    margin-left: 5px;
}

mat-hint {
    color: red;
}

input[type="file"] {
    display: none;
}

.image-upload {
    width: 95%;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 20px;

    &:hover {
        background-color: rgb(114, 114, 255);
    }
}