<mat-card class="remove-shadow product-view-card">
    <mat-card-header class="card-header">
        <mat-card-title>Product</mat-card-title>
        <span class="spacer"></span>
        <button mat-flat-button color="primary" matTooltip="Edit product"><mat-icon>edit</mat-icon>Edit</button>
        <button mat-flat-button color="warn" matTooltip="Delete product" (click)="openDeleteDialog()"><mat-icon>delete</mat-icon>Delete</button>
    </mat-card-header>
    <mat-card-content>

        <div class="product">
            <div class="product-image-section">
                <img mat-card-image src={{product.thumbnail}}>
            </div>

            <div class="product-details-section">
                <h1 class="mat-headline-4 title">{{product.title}}</h1>
                <mat-chip class="mat-headline-5 price">
                    <strong>{{product.price | currency}}</strong>
                </mat-chip>

                <table>
                    <tr>
                        <td><strong>Category</strong></td>
                        <td>: {{product.category}}</td>
                    </tr>
                    <tr>
                        <td><strong>Brand</strong></td>
                        <td>: {{product.brand}}</td>
                    </tr>
                </table>

                <p><strong>Description :</strong><br>
                    {{product.description}}
                </p>

            </div>
        </div>

    </mat-card-content>
</mat-card>

<div class="go-back product-view-card">
    <button mat-flat-button matTooltip="Go to product list page" routerLink="/"><mat-icon>arrow_back</mat-icon>
        Go back
    </button>
</div>