<mat-card class="remove-shadow">
    <mat-card-header class="card-header">
        <mat-card-title>Product List</mat-card-title>
        <span class="spacer"></span>
        <button mat-flat-button class="button-accent-color"
            matTooltip="Refresh product list"><mat-icon>refresh</mat-icon>Refresh
        </button>
        <button mat-flat-button color="primary" matTooltip="Add new product"><mat-icon>add</mat-icon>Add new</button>
    </mat-card-header>
    <mat-card-content>
        <div>
            <app-product></app-product>
            <app-product></app-product>
            <app-product></app-product>
        </div>

    </mat-card-content>
</mat-card>